<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Django CRM!</title>
  </head>
  <body>
    {% extends 'base.html' %}
    {% block content %}
    <div class="col-md-6 offset-md-3">
    {% if user.is_authenticated %}
    <h1>
      Hello world!
    </h1>
    {% else %}
    <h1>Login !</h1>
    <br/>
    <form method="POST" action="{% url 'home' %}">
      {% csrf_token %}
      <form>
        <div class="mb-3">
          <label for="username" class="form-label">User name</label>
          <input type="text" class="form-control" name="username" placeholder="User name" required>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" name="password" placeholder="Password" required>
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-secondary">Login</button>
      </form>

    </form>
    {% endif %}
    </div>
    {% endblock  %}
  </body>
</html>